<html>
    <head>
        <title>Dashboard</title>
    <script src="{{ url_for('static', filename='js/ControlBar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dash.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashbord.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/controlbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashbord.css') }}">
    </head>
    <body>
        <script>
            let jwt = "{{msg}}";
            let account_id = "{{account_id}}";
            if (jwt!=''){
                localStorage.setItem("token", "{{msg}}");
            }
            if (account_id!=''){
                localStorage.setItem("account_id", "{{account_id}}");
            }
        </script>
            <ul>
                <li><a href="/login_page">Logout</a></li>
                <li style="float:right"><a class="active" href="/upload">Upload</a></li>
            </ul>
            <div class="video_block">
                <div class="video_player">
                   
                        <div id="video_player_block">
                            <video id="videoPlayer" controls ></video>
                        </div>
                        <div >
                            <p id="views">0 Views</p>
                            <h2 id="video_title">Sample Video</h2>
                        </div>
                </div>

                <div class="other_videos">
                    <p>Videos</p>
                        {% for dict_item in records %}
                            <div class="item" onclick="player_url_update(url='{{dict_item.s3_file_path}}',title='{{dict_item.video_title}}',views='{{dict_item.views}}', transcode_status='{{dict_item.transcode_status}}');">
                                <p>{{dict_item['video_title']}}</p>
                            </div>
                        {% endfor %} 
                </div>

                <script>
                    if(window.location.pathname=="/login"){
                        window.location='/dashbord?account_id='+localStorage.getItem("account_id");
                    }
                </script>
          </div>
    </body>
   
</html>